{% extends "fields/_field" %}

{% macro assetLink(asset, options) %}
    <a href="{{ asset.url }}"{% if options.newTab ?? false %} target="_blank"{% endif %}{% if options.download ?? false %} download{% endif %}>
        {% set label = options.label ?? 'title' %}
        {% if label == 'title' %}
            {{ asset.title }}
        {% elseif options.label == 'filename' %}
            {{ asset.filename }}
        {% else %}
            {{ options.custom ?? 'no label' }}
        {% endif %}
    </a>
{% endmacro %}

{% block content %}
    {% for asset in value %}
        {% set label = options.custom %}
        {% if options.label == 'title' %}
            {% set label = asset.title %}
        {% elseif options.label == 'filename' %}
            {% set label = asset.filename %}
        {% endif %}
        {% if options.displayAsButton %}
            {% include "_components/button" with {
                size: options.size,
                outlined: options.outlined,
                color: options.color,
                label: label,
                newTab: options.newTab,
                link: asset.url,
                download: options.download
            } only %}
        {% else %}
            <a href="{{ asset.url }}" {% if options.newTab %}target="_blank"{% endif %} class="link-{{ options.color }}"{% if options.download ?? false %} download{% endif %}>
            {{ label }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}